html{
	overflow:hidden;
}
body{
	overflow:scroll;
	//overflow:overlay;
}

html,
body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	height:100%;
	font-family: lato;
	color: #303030
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-bottom: 0.5em;
	margin-top :0.5em;
}

.component.view{
	margin: auto;
	max-width: 720px;
	border: solid;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;

	.component{
		border: solid;
		background-color: white;
		padding: 5px;
		margin-bottom: 50px;

		&:last-child{
			margin-bottom: 0px;
		}
	}
}

.feed{
	max-height: 450px;
	overflow: auto;
	padding: 5px;
	border: solid;

	.filter{
		border: solid;
		margin-bottom: 5px;
		display: flex;
	}
}

.tile{
	border: solid;
	margin-bottom: 5px;

	&:last-child{
		margin-bottom: 0px;
	}
	.tile-header{
		padding: 5px;

		.tile-avatar{
			border: solid;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: inline-block;
		}

		.tile-head-info{
			display: inline-block;
			flex-direction: column;
			height: 100%;
			cursor: pointer;
		}
	}
	.tile-body{
		padding: 5px;
		padding-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;

		.tile-body-content{
			border: solid;
			border-radius: 5px 5px 0px 0px;
			padding: 5px;
		}
	}
	.tile-footer{
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;

		.tile-footer-content{
			display: flex;
			justify-content: space-around;
			border:solid;
			border-top: none;
			border-radius :0px 0px 5px 5px;
			padding: 5px;
		}
	}
}

.comments{
	border: solid;
	max-height: 400px;
	overflow: auto;
	padding: 5px;

	.compact-tile{
		.tile();
		margin-left: 20%;

		.tile-header{

			.tile-avatar{
				width: 30px;
				height: 30px
			}
		}

		.tile-footer{
			.tile-footer-content{
				justify-content: flex-start;
			}
		}
	}
}
	

.avatar{
	border: solid;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}

.profile{
	.profile-header{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.profile-nav{
		display: flex;
		margin-bottom: 5px;
		margin-top: 5px;

		.item{
			width: 100%;
			text-align: center;
			cursor: pointer;

			&.active{
				border-bottom: solid;
			}
		}
	}
	.notifications{
		border: solid;
		max-height: 400px;
		overflow:auto;
		padding: 5px;

		.noti{
			display: flex;
			border: solid;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 5px;

			&:last-child{
				margin-bottom:0px;
			}

			.message{
				width: 100%;
			}

			.action{
			}
		}
	}
}

.settings{
	border: solid;
	padding: 5px;
	max-height: 400px;
	overflow: auto;

	.group{
		border: solid;
		padding:5px;

		.header{
			color: #595959;
			font-size: 1.25em;
		}

		.setting{
			border: solid;
			margin-bottom: 5px;
			padding: 5px;

			&:last-child{
				margin-bottom: 0px;
			}

			label{
				display: block;
			}

			.select-control{
				display: flex;

				.item-list{
					width: 100%;
					border: solid;

					label{
						border-bottom: solid;
					}

					.item{
						cursor: pointer;
					}
				}
			}
		}
	}
}

.button-group{
	display: flex;
}
.input-group{
	display: flex;
	flex-direction: column;

	input{
		width: min-content;
	}
}

button.active{
	background-color: #BF3F3F;
}

.post{
	.new.post{
		border: solid;
		display: flex;
		flex-wrap: wrap;
		border-radius: 5px 5px 0px 0px;

		.input{
			resize: none;
			width: 100%;
			border-radius: inherit;
		}
	}
	.options{
		border: solid;
		border-top: none;
		border-radius: 0px 0px 5px 5px;
		padding: 5px;
		display: flex;
		justify-content: space-around;
	}
}
	
.post.buttons{
	border: solid;
	padding: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-start;
}

	
/*===================================================
					animations
=====================================================*/
@keyframes slide-right-in{
	from{
		transform: translateX(-100%);
		opacity: 0;
	}
	to{
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes slide-right-out{
	from{
		transform: translateX(0%);
		opacity:1;
	}
	to{
		transform: translateX(100%);
		opacity:0;
	}
}

@keyframes fade{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes instaFadeOut{
	from{opacity:0;}
	to{opacity:0;}
}
@keyframes instaFadeIn{
	from{opacity:1;}
	to{opacity:1;}
}

@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.slide-enter-active{
	animation: slide-right-in .15s;
}

.slide-leave-active{
	animation: slide-right-out .15s;
}
.slide-move {
  transition: transform .15s;
}

.instaFade-enter-active{
	animation: instaFadeIn .15s;
}
.instaFade-leave-active{
	animation: instaFadeOut .15s;
	position: absolute;
	width: 100%;
}
.instaFade-move {
  transition: transform 0.25s;
}
/*===================================================
					Nie My goed  Nie!!!!!!!
=====================================================*/

::-webkit-selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}

/* Form */

textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

/* Force Simple Scrollbars */

* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

* ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

* ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

* ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}