<!DOCTYPE html>
<html>
<head>
	<div id="preloader" style="position: fixed; width: 200%; height: 200%; background-color: white; z-index: 999; transform: translate(-50%,-50%);"></div>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<title>Social Test</title>

	<script src="javascript/vue.min.js"></script>
	<script src="javascript/jquery.min.js"></script>
	<script src="javascript/httpVueLoader.js"></script>
	<script src="javascript/genScript.js"></script>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="main">
		
		<div>
			<transition>
				<topbar></topbar>
			</transition>
		</div>
		
		<div class="component view">
			<div class="component loading" v-if="loadingComps">
				<div class="loader"></div>
			</div>
				
			<transition-group tag="div" name="slide">
				<component v-for="(view, index) in viewList" :is="view" :key="view" :index="index"></component>
			</transition-group>
		</div>

		<div>
			<transition name="fade" mode="out-in">
				<div v-for="toa in toast" class="toast" v-if="toast.lenth != 0">
					<div>{{toa.message}}</div>
				</div>
			</transition>
		</div>
		<!--=====================================================================================================
													Dev Notifications
			=====================================================================================================-->
		<div>
			<transition name="fade" mode="out-in">
				<div v-for="notify in notifi" class="devNotify" v-if="notifi.lenth != 0" @click="RemoveNotifi()">
					<div class="title"><b>{{notify.title}}</b></div>
					<div class="message">{{notify.message}}</div>
				</div>
			</transition>
		</div>
		<!--======================================================================================================-->
	</div>
</body>
</html>